<%- include('template/cabecera', {tituloWeb : 'Pagina de Inicio'})%>

    <div class="container mt-4 mb-2">
        <div class="table-responsive">
            <table class="table table-sm">
                <thead class="table-active">
                    <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Descripcion</th>
                        <th>Imagen</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (arrayProductos.length > 0) { %>
                        <% arrayProductos.forEach(element => { %>
                            <tr>
                                <!-- <th scope="row"><%= element.id %> </th> -->
                                <th><%= element.nombre %></th>
                                <th>$ <%= element.precio %></th>
                                <th><%= element.descripcion %></th>
                                <td>
                                    <img src="<%= element.img %>" width="50" alt="<%= element.nombre %>">
                                </td>
                                
                            </tr>
                        <% }) %>
                       <% } %>
                </tbody>
               <% if (arrayProductos.length == 0) { %>
                    <p style="color: firebrick;">Ups..! No hay productos todavia</p>
               <% } %>
            </table> 
    </div>  
    </div>
<%- include('template/footer')%>
<table class="table table-borderless">
    ...
  </table>